@import "../../../theme.less";

.content {
   .loading {
      text-align: center;
      color: #ff5500;
      line-height: 50px;
      font-size: @font_size_big;
   }
   .payOutBox;
   .bankBox {
      .payCpmBox;
      &_top {
         .top;
      }
      &_middle {
         &:after {
            .toContainAllSon;
         }
         .middle;
         &_msg {
            display: inline-block;
            font-family: "MicrosoftYaHei", Helvetica, Arial, sans-serif;
            font-size: @font_size_center;
            color: @font-dark-color;
            line-height: 1.9rem;
         }
         &_titleMsg {
            width: 90px;
            display: inline-block;
         }
         &_tips {
            float: right;
            width: 320px;
            text-align: justify;
            .tipsIcon {
               float: left;
               margin-left: -20px;
               color: @c_text_red_light;
            }
         }
         //第二段

         .container2Son:after {
            .toContainAllSon;
         }
         .container2Son {
            .form_group {
               margin-right: 30px;
               line-height: 30px;
            }
            &:first-child .form_group {
               margin-bottom: 20px;
            }
            .form_control {
               width: 240px;
            }
            .control_label {
               color: @font-color;
            }
         }

         //第三阶段，上传
         .upload_text {
            &_line1 {
               font-size: 70px;
            }
            &_line2 {
               font-size: @font_size_center;
            }
            &_line3 {
               font-size: @font_size_small;
            }

         }

         :global {
            .forUploadStyle .ant-upload-list-item.ant-upload-list-item-undefined {
               //display: none!important;//这个是上传的时候的第一个div

            }
            .forUploadStyle .ant-upload.ant-upload-select-picture-card > .ant-upload {
               height: 200px;
               display: flex;
               align-items: center; /*定义子元素垂直居中*/
               justify-content: center; /*定义子元素水平居中*/
               background-color: @upload_color;
            }

            .forUploadStyle .ant-upload.ant-upload-select-picture-card,
            .forUploadStyle .ant-upload-list-picture-card .ant-upload-list-item {
               vertical-align: top;
               float: none;
               display: inline-block;
               width: 32.5%;
               height: auto;
            }

            .forUploadStyle .ant-upload-list-picture-card .ant-upload-list-item-info:before {
               background-color: rgba(0, 0, 0, 0.5);
               left: 0;
            }
            .forUploadStyle .ant-upload-list-picture-card .ant-upload-list-item-actions a:first-child {
               //display: none;
            }
            .forUploadStyle .ant-upload-list-picture-card .ant-upload-list-item-actions .anticon-eye-o, .forUploadStyle .ant-upload-list-picture-card .ant-upload-list-item-actions .anticon-delete {
               font-size: 30px;
               padding-right: 30px;
            }
         }
      }
   }
   .submitBtn {
      .bigOrangeBtn;
      margin-top: 20px;
   }
}

:global {
   div[role=document][style^="width: 813px"] .ant-modal-close span {
      font-size: 40px;
   }
}

