@import "../../../theme.less";
.test1{
  font-size:3em;
}
.test2{
  margin-bottom:1em;
}
//每个大块的背景，内边距，下外边距
.row1{
  background:@content-backcolor;
  margin-bottom:10px;
}
.row2{
  .row1;
  padding:15px;
}
//每个小标题的样式：热点服务，我要办事
.littleTitle{
  margin-bottom: 10px;
  .img{
    vertical-align: middle;
    margin-right:10px;
  }
  >span{
    font-size: 16px;
    font-weight: bold;
  }
}
//1.个人办事、单位办事等
.col{
  padding: 27px 0;
  margin-right:5px;
  margin-top:5px;
  margin-bottom:5px;
  border: 1px @index-bordercolor solid;
  box-sizing: border-box;
  text-align: center;
  background: @content-backcolor;
}
//搜索框的样式
.bcimg{
  border:1px solid @test-bordercolor;
  padding:2em;
  .searchbox{
    border:1px solid @test-bordercolor;
    width:60%;
    margin:0 auto;
    padding:1em;
    .rightRow{
      width:100%;
      margin-bottom:10px;
    }
  }
}
//热点服务里的按钮
//浮动引起父元素的高度变化解决
.father{
  overflow: hidden;
  height:150px;
}
.father:after{
  display: block;
  content:"";
  clear:both;
}
//1.向左和向右的按钮
.buttonLeft{
  float:left;
  padding:0;
  width:40px;
  height:150px;
}
.buttonRight{
  .buttonLeft;
  float:right;
}
//2.中间的列表样式
.divhidden{
  display: none;
}
.divitem{
  float:left;
  margin-left:2%;
  margin-right:2%;
  border:1px solid #ccc;
  width:16%;
  height:148px;
  line-height:148px;
  text-align: center;
}
//我要办事的文字列表的上下间距
.dolist{
  margin-bottom:10px;
}
//我要办事的文字列表
.list2{
  height:40px;
  line-height: 40px;
  overflow: hidden;
  >span,>i{
    font-size: 16px;
  }
}
//在线申报的按钮
.button1{
  float:right;
  padding:0;
  width:127px;
  height:40px;
  background: @buttonColor;
  border-color:@buttonColor;
  color:#fff;
}
.button1:hover{
  background: @buttonColor;
  border-color:@buttonColor;
  color:#fff;
}
//信息查询的样式
.inputword{
  float:right;
}
.buttonCha{
  float:right;
  margin-top:5px;
  background: @buttonColor;
  border-color:@buttonColor;
  color:#fff;
}
.buttonCha:hover{
  background: @buttonColor;
  border-color:@buttonColor;
  color:#fff;
}
//信息查询的行
.cha{
  height:40px;
  line-height: 40px;
  margin-bottom:10px;
}











