@import "../../../theme.less";

@topHeight: 42px;

.topRight{
  width: 100%;
  height: 0;
  padding-bottom: 33.33%;
}
.topRightContent{
  background-color: #00A3FF;
  position: absolute;
  left: 15px;
  right: 0;
  bottom: 0;
  top: 0;
  div{
    height: 100%;
  }
}
.topRightCarouselTest{
  background-color: #00ff23;
  height: 100%;
  width: 100%;
}
.topRightCarousel{
  width: 100%;
  height: 100%;
  background-color: #e1abff;
  color: #ffaa00;
  text-align: center;
  font-size: 55px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.topLeft {
  width: 100%;
  background-color: #29A6FF;
  border-radius: 4px;
  padding: 2px;
  box-sizing: border-box;
}



.topLeftBorder {

  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: visible;
}

.topLeftTitle {
  line-height: @topHeight;
  position: absolute;
  width: 100%;
  vertical-align: middle;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}

.topLeftContent {
  border-radius: 4px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: @topHeight;
  padding: @d_spadding_cell*3;

}

.topLeftContentCenter {
  width: 100%;
  height: 100%;
  background-color: #4ff92e;
}
.center{
  margin-top: @d_spadding_cell*2;
  padding: @d_spadding_cell;
  background-color: #ffffff;
  border: 1px rgba(0,0,0,0.10) solid;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}
.centerTitleLayout{
  padding: @d_spadding_cell*5;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.centerIcon{
   display: inline-block;
   width: 20px;
   height: 20px;
   background-image: url("../../../images/boutique.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
 }
.centerTitle{
  display: inline-block;
  font-size: 24px;
  margin-left: @d_spadding_cell;
  color: #000000;
}
.centerTitleMoreLayout{
  position: absolute;
  height: 40px;
  right: @d_spadding_cell;
  margin: auto;
  top: 0;
  bottom: 0;
}
.centerTitleMore{
  composes: centerTitle;
  font-size: 16px;
  margin-left: 0;
  color:#666;
  line-height: 40px;
}
.centerIconMore{
  composes: centerIcon;
  width: 16px;
  height: 16px;
  margin-left: @d_spadding_cell;
  background-image: url("../../../images/more.png");
}
.more{
  width: 100%;
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
  font-size: 16px
}

body {
  margin: 0 !important;
  padding: 0 !important;
}
element {
  height:1000px;
  background-color: #ededed;
  font-size: 45px;
  border-top:1px solid #000;
  padding-top:55px;
  padding-left:10px;
}

active {
  color:red !important;
}

.bottomIcon{
  display: inline-block;
  width: 23px;
  height: 17px;
  background-image: url("../../../images/plane.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}