@import "../../../../theme.less";
@img_width:25%;
@img_height:0.75*@img_width;

.main{
  align-content: center;
  background: @c_bg_gray;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: rgba(0,0,0,0.10);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  overflow: hidden;
}
.con{
  display: table;
  width: 100%;
  position: relative;
}
.left{
  display: table-cell;
  vertical-align: middle;
  width: 346px;
  height: 260px;
}
.img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.right{
  display: table-cell;
  vertical-align: middle;
  padding-right: 0;
}
.title{
  border-width: 1px 0 1px 0;
  border-style: dashed;
  border-color: #CBD3E5;
  width: 100%;
  padding: @d_spadding_center;
}
.titleHead{
  display: inline;
  vertical-align: middle;
  font-size: @font_size_title;
  color: @c_title_blue;
  padding-right: @d_spadding_small;
}
.refTitleHead{
  composes: titleHead;
  padding-left: @d_spadding_small;
}
.imgIcon{
  display: inline;
  background-size: cover;
}

.rightLine{
  padding-left: @d_spadding_center;
  overflow: hidden;
  margin-bottom: @d_spadding_big;
  height: 20px;
  line-height: 20px;
}
.lineLeft{
  display: inline-block;
  width: 70px;
  font-size: @font-size-base;
  color: @c_title_gray;
}
.lineRight{
  display: inline-block;
  font-size: @font-size-base;
  color: @c_title_black;
}
.center{
  display: inline-block;
  padding-left: @d_spadding_cell;
  padding-right: @d_spadding_cell;
}

.thirdLineRight{
  display: inline-block;
  font-size: @font-size-base;
  color: @border-color;
  padding:1px @d_spadding_small 1px 5px;
}
.price{
  color:@c_text_red;
  fontSize:@font_size_cell;
}
.refPrice{
  composes: price;
  fontSize:@font_size_big;
}
.text{
  color:@c_title_black;
  fontSize:@font_size_cell;
}




.requireAlertBg{
  position: absolute;
  right: 0;
  bottom: 40px;
  width: 372px;
  height: 74px;
}

.alertImage{
  cursor: pointer;
  position: absolute;
  top:25px;
  left: 0px;
  width: 24px;
  height: 24px;
  text-align: center;
  background-color: @c_bg_white;
  border-radius: 100%;
  font-size: @font_size_center;
  color: @c_theme_blue;
}
.requireAlert{
  float: right;
  display: table;
  height: 100%;
  padding-left: 24px;
  padding-right: @d_spadding_base;
  border-top-left-radius: 37px;
  border-bottom-left-radius: 37px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: @c_border_gray;
  margin-bottom: @d_spadding_cell;
  background-color: @c_bg_white;
}

.requireAlert_center{
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  width: 235px;
  font-size: @font_size_small;
  color: @c_title_black;
}

.noFlight{
  cursor: pointer;
  width:42px;
  height:54px;
  text-align:center;
  font-size:20px;
  color:@c_theme_blue
}
.requireAlert_right{
  display: table-cell;
  vertical-align: middle;
  width: 90px;
}
.requireBtn{
  cursor: pointer;
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: @c_bg_gray;
  color: @c_theme_blue;
  font-size: @font_size_center;

}
