@import "../../../../theme.less";
@img_width:30%;
@img_height:0.72*@img_width;

.main{
  align-content: center;
  background: #EFF7FD;
}
.con{
  padding: @d_spadding_small;
  display: table;
  width: 100%;
}
.left{
  display: table-cell;
  vertical-align: middle;
  width: @img_width;
}
.img{
  width: 100%;
  background-size: cover;
  border-color: @border-color;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}
.right{
  display: table-cell;
  vertical-align: middle;
  padding-left: @d_spadding_small;
  padding-right: 0;
}
.title{
  border-width: 1px 0 1px 0;
  border-style: dashed;
  border-color: #CBD3E5;
  width: 100%;
  padding: @d_spadding_small 0;

}
.titleHead{
  display: inline;
  vertical-align: middle;
  font-size: @font_size_title;
  color: #2db7f5;

  padding-right: @d_spadding_small;
}
.refTitleHead{
  composes: titleHead;
  padding-left: @d_spadding_small;
}
.imgIcon{
  display: inline;
  background-size: cover;
}

.rightLine{
  overflow: hidden;
  margin-top: @d_spadding_small;
  margin-bottom: @d_spadding_small;
}
.lineLeft{
  display: inline-block;
  width: 70px;
  font-size: @font-size-base;
  color: #888D99;
}
.lineRight{
  display: inline-block;
  font-size: @font-size-base;
  color: #4F5762;
}
.center{
  display: inline-block;
  padding-left: @d_spadding_cell;
  padding-right: @d_spadding_cell;
}

.thirdLineRight{
  display: inline-block;
  font-size: @font-size-base;
  color: @border-color;
  padding:1px @d_spadding_small 1px 5px;
}

