@import "../../../../theme.less";
/**
 * 设置日历的大小
 */
@height_head : 30px;
@height_item : 60px;
@color_bg : #EFF7FD;
@color_select : #29A6FF;
.calendar{
  margin-top: @d_spadding_small;
  width: 100%;
  background-color: @color_bg;
  border: 1px solid @color_select;
}

.calendarHeader{
  overflow: hidden;
  background-color: @color_bg;
  padding-top: @d_spadding_cell;
  padding-bottom: @d_spadding_cell;
  border-width: 0px 0 1px 0;
  border-style: solid;
  border-color: @color_select;
}
.calendarHeader_title{
  float: left;
  width:12%;
  height: @height_head;
  line-height: @height_head;
  font-size: 15px;
  color: #888D99;
  text-align: center;
}
.calendarHeader_con{
  float: left;
  width:88%;
  height: @height_head;
}

.monthView_bg{
  height: @height_head;
  width: 100%;
  overflow: hidden;
}

.calendarHeaderIcon{
  float: left;
  height: @height_head;
  width: 5%;
  text-align: center;
}
.refCalendarHeaderIcon{
  composes: calendarHeaderIcon;
  float: right;
}
.icon{
  margin-top: 7.5px;
  width: 15px;
  height: 15px;
}
.monthView{
  float: left;
  height: @height_head;
  width: 84%;
  overflow: hidden;

}
.blurEffect{
  float: left;
  height: @height_head;
  width: 3%;
  -webkit-mask-image: -webkit-gradient(linear, 0 0, 50 0, from(rgba(0, 0, 0, 10)), to(rgba(5, 5, 0, 0)));
}
.hidden{
  display: none;
}

.monthView_super{
  height: @height_head;
}
.monthItem{
  display: inline-block;
  width: 85px;
  height: @height_head;
  line-height: @height_head;
  text-align: center;
  margin-left: @d_spadding_cell;
  border-style: solid;
  border-width: 0px 0 3px 0;
  border-color: @color_bg;
  font-size: @font_size_small;
  color: #8F95A0;
}
.select_monthItem{
  composes: monthItem;
  border-color: @color_select;
  color: #4F5762;
}








.calendarTitle{
  margin-left:10px;
  margin-right:10px;
  font-size:16px;
}
.cBodyHead{
  overflow: hidden;
}
.contentRow{
  background-color: white;
  overflow: hidden;
}
.borderDefault{
  float: left;
  width: 14%;
  margin: 0.14%;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  box-sizing: border-box;
}
.borderIsMounseSel{
  composes: borderDefault;
  border-color: #29A6FF;
}
.defaultItem{
  width: 100%;
  height: @height_item;
  font-size: @font-size-base;
  border-style: solid;
  border-color: #eeeeee;
  border-width: 1px;
  padding: 2px 0px 0px 5px;
}
.cBodyItem{
  float: left;
  width: 14.2%;
  background-color: white;
  border-width: 0px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.itemGray{
  composes: defaultItem;
  background-color: #F7F7F7;
}
.dayGray{
  color: #8bf188;
}

.itemActive{
  composes: defaultItem;
  background-color: #F7F7F7;
}
.itemTags{
  composes: defaultItem;
  background-color: white;
}
.dayActive{
  color: #333333;
  font-size: @font_size_cell;
}
.price{
  color: #FF5841;
  font-size: @font_size_small;
  padding-right: @d_spadding_small;
  text-align: right;
}
.refPrice{
  composes: price;
  margin-top: @d_spadding_small;

}
.sit{
  composes: price;
  color: #333333;
  font-size: @font_size_cell;
}

.itemSelect {
  composes: defaultItem;
  border: 2px solid #29A6FF;
  position: relative;
  background-color: #8bf1fc;
}
.itemSelect_sign{
  position: absolute;
  right: -1px;
  bottom: -1px;
  width: 18px;
  height: 18px;
}
.itemRed{
  composes: defaultItem;
  background-color: @all-backcolor;
}