@import "../../../../theme.less";
.passengerList{
  box-sizing: border-box;
  padding: @d_spadding_small;
  margin-bottom: @d_spadding_base;
  background-color: @content-backcolor;
}
.titleBar{
  text-align: right;
}
.title{
  font-size: @font_size_center;
  font-weight: bold;
  float: left;
}
.btnType01,.btnType02,.btnType03{
  border-radius: 2px;
  margin: 0 @d_spadding_cell;
}
.btnType02{
  border: 1px #6adaff solid;
  border-radius: 2px;
  background-color: #dcf7fc;
  color: #6adaff;
}
.btnType03{
  display: block;
  margin: @d_spadding_cell auto;
}
.passengerTable{
  margin-top: @d_spadding_small;
}
.submitBox{
  text-align: center;
  margin-top: @d_spadding_small;
}