@import "../../../theme.less";
@width_text : 20px;
@width_icon : 25px;
@content_width : 100%;
@left_width:0.7*@content_width;
@right_width:0.3*@content_width;

.main{
  min-width: @content_width;
  background-color: @c_bg_gray;
}
.content{
  background-color: @c_bg_white;
  margin-left: auto;
  margin-right: auto;
  width: @content_width;
  margin-bottom: @d_spadding_base;
}

.refContent{
  composes: content;
  margin-bottom: 0px;
  padding-left: @d_spadding_center;
  padding-right: @d_spadding_center;
  padding-bottom: @d_spadding_cell;
}
.thirdContent{
  composes: content;
  padding-bottom: @d_spadding_base;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: rgba(0,0,0,0.10);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}
.myCalendar{
  margin-left:auto;
  margin-right:auto;
}
.calendarTitle{
  font-family: MicrosoftYaHei-Bold;
  font-size: @font_size_center;
  color: #4F5762;
  padding-top: @d_spadding_small;
  padding-bottom: @d_spadding_base;
}

.fontBase{
  font-size: @font_size_cell;
}
.fontSmall{
  font-size: @font_size_small;
}
.fontCenter{
  font-size: @font_size_center;
}
.fontBig{
  font-size: @font_size_big;
}
.title{
  font-size: @font_size_title;
  font-weight: 900;
  padding-top: @d_spadding_small;
  padding-bottom: @d_spadding_small;
  text-align: center;
}

