@import "../../../../theme.less";
.content{
}
@top : @d_spadding_cell;
.left{
  float:left;
  margin-top: @d_spadding_small;
  margin-left: @d_spadding_small;
}
.right{
  float: right;
}
.table{
  display: table;
}
.clear{
  clear: both;
}

.title{
  margin-top: @top;
  margin-bottom: @top;
  font-size: 14px;
  color: #393939;
}
.i_content{
  width: 100%;
  height: 100%;
}

.action {
  margin-top: @top;
  margin-bottom: @top;
  margin-left: @d_spadding_cell;
  display: inline-block;
  img{
    width: @d_spadding_cell*3;
    height: @d_spadding_cell*3;
    display: inline-block;
  }
  div{
    font-size: 14px;
    color: #4F5762;
    display: inline-block;
    margin-left: @d_spadding_cell;
  }
}

.searchAction {
  margin-bottom: @top;
  margin-left: @d_spadding_cell;
  img{
    width: @d_spadding_cell*3;
    height: @d_spadding_cell*3;
    display: inline-block;
  }
  div{
    font-size: 14px;
    color: #4F5762;
    display: inline-block;
    margin-left: @d_spadding_cell;
  }
}
.buttonLayout{
  margin-top: @top;
  margin-bottom: @top;
  width: 100%;
  text-align: center;
}
.button{
  color: #ffffff;
  background-color: #29A6FF;
  padding:  0 40px;
  height: 35px;
  display: inline-block;
  text-align: center;
}
.inputLayout{
  display: inline-block;
  width: 100%;
  span{
    display: inline-block;
    font-size: 14px;
    color: #393939;
  }
  div{
    display: inline-block;
    width: 70%;
  }
}
.searchTitle{
  display: inline-block;
  font-size: 14px;
  color: #393939;
}
.line{
  width: 1px;
  margin-left: 20px;
  height: 52px;
  background-color: #cbd3e5;
}

