.login{
    font-size: 16px;
}

.head{
    margin-bottom: 20px;
}

.title{
    color: #333;
}

.clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}


.left {
    cursor: pointer;
    float: left;
}

.right {
    cursor: pointer;
    float: right;
}

.active {
    color: #54b6ff;
}

.checkCodeImgInput {
    width: e('calc(100% - 98px)');
}

.checkCodeImg {
    width: 90px;
    height: 36px;
    vertical-align: bottom;
}

.checkCodeInput {
    width: e('calc(100% - 100px)');
}

.checkCodeBtn {
    width: 80px;
    margin-left: 20px;
    padding: 0;
}

.tip {
    color: #CCC;
}

.textRight {
    text-align: right;
}

.toLogin {
    color: #29A6FF;
    letter-spacing: 0.21px;
    cursor: pointer;
}

.btnSubmit {
    width: 100%;
}

.btnSubmitSmall {
    width: e('calc(50% - 8px)');
}

.bottom {
    font-size: 12px;
    color: #333;
}

.forget {
    color: #999;
}
