.main_par{
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;

}
.main{
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  background-color: #4ff92e;

}
.content{
  background-color: #ffd1b2;
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;

  overflow: auto;
}
.mainLoading{
  composes: main;
  background-color: rgba(0, 0, 0, 0.30);
  z-index: 2000;
  padding-top: 10px;
  text-align: center;
  vertical-align: middle;
}
.loading{

}
.refresh{
  width: 100%;
}
.error{
  margin: 5px;
}
 .pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }