
.main{
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  overflow:auto;
}
.mainLoading{
  composes: main;
  background-color: rgba(0, 0, 0, 0.30);
  z-index: 2000;
}
.loading{
  composes: main;
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: auto;
}