@import "../theme.less";

.main {
}
.mainContent {
  min-height: 100%;
  width: 100%;
  overflow: auto;
}
.mainBG{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: repeat-x;
  background-size: cover;
  background-image: url("../images/bj.jpg");
}
.container {
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
}
