@import "../theme.less";

@space: 50px;
.head {
  background-color: #ffffff;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: rgba(0,0,0,0.10);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}
.headContent{
  max-width: @d_screen_width;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  height: 72px;
}
.left {
  width: 180px;
  height: 50px;
  float: left;
  cursor: pointer;
  margin-top: 11px;
  margin-right: 22px;
}

.right {
  position: absolute;
  top: 12px;
  right: 0;
  height: 50px;
  display: table;
}

.rightIcon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.rightItem {
  display: table-cell;
  vertical-align: middle;
}
.login{
  font-size: 16px;
  border-radius: 2px;
  height:32px;
  width: 70px;
  color: #fff;
  border: 1px #29A6FF solid;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  background-color: #29A6FF;
}
.register{
  font-size: 16px;
  height:32px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 30px;
  width: 70px;
  border: 1px #29A6FF solid;
  border-radius: 2px;
  background-color: #dcf7fc;
  color: #29A6FF;
}
