.menu {
    display: inline-block;
    height: 100%;
}
@media screen {
    .menu {
        width: 100px; 
    }
    @media (max-width: 1200px) {
        .menu {
            width: auto; 
            padding: 0 10px;
        }
    }
}