@import "../theme.less";

@color1: #b8f5ff;
@color2: #5edaff;
@color3: #1a9cff;

.modalConent {
   text-align: center;
   font-size: @font_size_center;
   height: auto;
   &:after {
      .toContainAllSon
   }
   .payResultContainer {
      .infoImg {
         padding-top: 15px;
         padding-bottom: 10px;
      }
      .tips {
         line-height: 30px;
         padding-bottom: 15px;
      }
   }

   .specialErr {
      padding: 30px;
   }

   .getPayingLayout {
      padding-top: 51px;
      padding-bottom: 68px;
   }
   .animationGroup {
      padding-top: 64px;
      padding-bottom: 30px;
      &_circle {
         display: inline-block;
         height: 15px;
         width: 15px;
         border-radius: 50%;
         margin: 0 5px 0;
         background-color: #29A6FF;
         &:nth-child(1) {
            -webkit-animation: scale 0.75s 0.12s infinite cubic-bezier(.2, .68, .18, 1.08);
            animation:         scale 0.75s 0.12s infinite cubic-bezier(.2, .68, .18, 1.08);
         }
         &:nth-child(2) {
            -webkit-animation: scale 0.75s 0.24s infinite cubic-bezier(.2, .68, .18, 1.08);
            animation:         scale 0.75s 0.24s infinite cubic-bezier(.2, .68, .18, 1.08);
         }
         &:nth-child(3) {
            -webkit-animation: scale 0.75s 0.36s infinite cubic-bezier(.2, .68, .18, 1.08);
            animation:         scale 0.75s 0.36s infinite cubic-bezier(.2, .68, .18, 1.08);
         }
      }
      @keyframes scale {
         30% {
            -webkit-transform: scale(0.3);
            transform: scale(0.3);
         }
         100% {
            -webkit-transform: scale(1);
            transform: scale(1);
         }
      }
   }
}


