@import "../theme.less";

.unionPay {
   .payCpmBox;
   &_top {
      .top;
   }
   &_middle {
      .middle;
      text-align: center;
   }
}

.loading {
   text-align: center;
   color: #ff5500;
   line-height: 50px;
   font-size: 20px;
}