@import "../../../theme.less";
.bgIn{
  border:1px solid @c_border_blue;
  -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
  -webkit-box-shadow:0 0 3px @c_border_blue;
  -moz-box-shadow: 0 0 3px @c_border_blue;
  box-shadow:0 0 3px @c_border_blue;
  border-radius: 3px;
}
.bgOut{
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: @c_border_gray;
}
.cell{
  overflow: hidden;
  width: 100%;
}
.title{
  float: left;
  width: 130px;
  height: 30px;
  line-height: 30px;
  margin-right: 70px;
  text-align: right;
  font-size: @font_size_small;
  color: @c_title_black;
}
.inputCell{
  float: left;
  overflow: hidden;
}
.error{
  color: @c_text_red;
  font-size: @font_size_cell;
  margin-left: 200px;
  margin-top: 3px;
  margin-bottom: @d_spadding_cell;
}

.subtitle{
  margin-left: 70px;
  float: left;
  height: 30px;
  line-height: 30px;
  font-size: @d_spadding_small;
  color: @c_text_red;
}


.addItem{
  width: 20px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: @font_size_big;
  background-color: @c_bg_gray;
  color: @c_text_red;
}
.subItem{
  composes: addItem;
}

