@import "../../../theme.less";
.mainPage{
  width: 1200px;
  height:auto;
  margin: 0 auto;
}
.itemContainer{
  box-sizing: border-box;
  padding: @d_spadding_small;
  margin-bottom: @d_spadding_base;
  background-color: @content-backcolor;
}
.noMessage{
  font-size: @font_size_super_big;
  text-align: center;
  margin: 100px auto;
}
.stateBar{
  box-sizing: border-box;
  background-color: #fffff5;
  padding: @d_spadding_small;
  margin-bottom: @d_spadding_base;
}
.stateTitle{
  display: inline-block;
  font-weight: bold;
  font-size: @font_size_center;
  color: #ff5500;
}
.stateIcon{
  padding: 0 10px;
}
.helpMsg{
  padding-left: 10px;
  display: inline-block;
  font-size: @font-size-base;
  letter-spacing: 1px;
  color: #a3a3a3;
}
.deleteOrder{
  float: right;
  font-size: @font-size-base;
  cursor: pointer;
  padding-top: 3px;
}