@import "../../../theme.less";
.mainPage{
  width: 1200px;
  height:auto;
  margin: 0 auto;
}
.searchContainer,.resultContainer{
  box-sizing: border-box;
  border: 1px solid @c_border_gray;
  padding: @d_spadding_center @d_spadding_small;
  width: 100%;
  height: auto;
  background: @bg-color;
  margin-bottom: @d_spadding_base;
}
.operation{
  color: @primary-color;
  cursor: pointer;

  &:hover{
    font-weight: bold;
  }
}
.pagination{
  text-align: right;
  margin-top: @d_spadding_small;
}
.searchItem01,.searchItem02{
  display: inline-block;
  vertical-align: middle;
  min-height: @d_spadding_super_big;
  box-sizing: border-box;
  min-width: 200px;
  width: 23%;
  margin: @d_spadding_base 0;
  border: 1px solid #dddddd;
}
.searchItem02{
  min-width: 250px;
  width: 31%;
}
.inputStyle{
  width: 60%;
  border-radius: 2px;

  & div{
    border-radius: 2px;
  }
}
.dateStyle{
  width: 35%;
  border-radius: 2px;

  & input{
    border-radius: 2px;
  }
}
.buttonStyle{
  border-radius: 2px;
}