@import "../../../theme.less";
.mainPage{
  width: 1200px;
  height:auto;
  margin: 0 auto;
}
.itemContainer{
  box-sizing: border-box;
  padding: @d_spadding_small;
  margin-bottom: @d_spadding_base;
  background-color: @content-backcolor;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.10);
}
.noMessage{
  font-size: @font_size_super_big;
  text-align: center;
  margin: 100px auto;
}